{% extends 'base/base.html' %}
{% load static %}

{% block title %} Video | Pypro {% endblock %}

{% block content %}
<header>
    <div class="jumbotron bg-white text-center">
        <h1 class="h1"> Video Item </h1>
    </div>
</header>
<section>
    <div class="container text-center">
        <h2 class="h2 my-2"> {{ video.title }} </h2>
        <div class="embed-responsive embed-responsive-4by3">
            <iframe src="https://player.vimeo.com/video/{{ video.vimeo_id }}" class="embed-responsive-item" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
    </div>
</section>
{% endblock %}